node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Python virtual environment
scanner/venv/
scanner/__pycache__/
__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Python logs or temp files
*.log
*.tmp

# Account dumps (should be regenerated)
scanner/accounts.txt

# VS Code settings (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db

user_config.json